<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout.html :: layout(~{::title/content()}, ~{::extra}, ~{::content})}">
<link data-th-fragment="extra" rel="stylesheet" href="/contacts2.css">
<body>
<h2 data-th-fragment="title">htmx powered Contact.app</h2>
<div data-th-fragment="content">
    <div class="flash" data-th-if="${model.flash}" data-th-text="${model.flash}"/>

    <div>
        <button id="sync-btn" data-hx-post="/contacts2/sync" data-hx-target="next span" data-hx-swap="outerHTML">
            Sync contacts from integration
        </button>
        <button disabled
                _="on click send htmx:abort to #sync-btn
               on htmx:beforeRequest from #sync-btn remove @disabled from me
               on htmx:afterRequest from #sync-btn add @disabled to me">
            Cancel sync
        </button>
        <span></span>
    </div>

    <div data-th-insert="~{Contacts2ArchiveUI}"></div>

    <form action="/contacts2" method="get" class="tool-bar">
        <label for="search">Search Contacts </label>
        <input id="search" type="search" name="q"
               data-th-value="${model.q}?: ''"
               data-hx-get="/contacts2"
               data-hx-trigger="search, keyup delay:200ms changed"
               data-hx-target="tbody"
               data-hx-push-url="true"
               data-hx-indicator="next .htmx-indicator"
        />
        <img class="htmx-indicator"
             width="58" height="58"
             src="/img/spinning-circles.svg"
             alt="Request In Flight..."/>
        <input type="submit" value="Search"/>
    </form>

    <form>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-hx-get="/contacts2"
                   data-hx-trigger="contacts-updated from:body"
                   data-th-insert="~{Contacts2Rows}"></tbody>
        </table>
        <button data-hx-delete="/contacts2"
                data-hx-confirm="Are you sure you want to delete there contacts?"
                data-hx-target="body">Delete selected contacts
        </button>
    </form>
    <p><a href="/contacts2/new">Add Contact</a> (<span data-hx-get="/contacts2/count" data-hx-trigger="revealed">
        <img class="htmx-indicator"
             width="58" height="58"
             alt="Request In Flight..."
             src="/img/spinning-circles.svg"/>
    </span> total Contacts)</p>
</div>
</body>
</html>
