<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2Edit"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout2.html :: layout(~{::title/content()}, ~{}, ~{::content})}">
<body>
<h2 data-th-fragment="title">htmx powered Contact.app</h2>
<div data-th-fragment="content">
    <form class="mb-2" data-th-action="${'/contacts2/' + model.contact.id + '/edit'}" method="post">
        <fieldset>
            <legend>Contact Values</legend>
            <div class="row">
                <label class="col-sm-1 col-form-label" for="email">Email</label>
                <div class="col-sm-4">
                    <input name="email" id="email" class="form-control" type="email"
                           data-th-attr="hx-get=${'/contacts2/' + model.contact.id + '/email'}"
                           hx-target="next .error"
                           hx-trigger="change, keyup delay:200ms changed"
                           placeholder="Email"
                           _="on htmx.load add .is-invalid to me"
                           data-th-value="${model.contact.email}">
                </div>
                <div class="error" data-th-text="${model.errors.email}"/>
            </div>
            <div class="row">
                <label class="col-sm-1 col-form-label" for="firstName">First Name</label>
                <div class="col-sm-4">
                    <input name="firstName" id="firstName" class="form-control" type="text" placeholder="First Name"
                           data-th-value="${model.contact.firstName}">
                </div>
                <div class="error" data-th-text="${model.errors.firstName}"/>
            </div>
            <div class="row">
                <label class="col-sm-1 col-form-label" for="lastName">Last Name</label>
                <div class="col-sm-4">
                    <input name="lastName" id="lastName" class="form-control" type="text" placeholder="Last Name"
                           data-th-value="${model.contact.lastName}">
                </div>
                <div class="error" data-th-text="${model.errors.lastName}"/>
            </div>
            <div class="row">
                <label class="col-sm-1 col-form-label" for="phone">Phone</label>
                <div class="col-sm-4">
                    <input name="phone" id="phone" class="form-control" type="text" placeholder="Phone"
                           data-th-value="${model.contact.phone}">
                </div>
                <div class="error" data-th-text="${model.errors.phone}"/>
            </div>
            <button class="btn btn-primary">Save</button>
        </fieldset>
    </form>

    <button id="delete-btn"
            class="btn btn-danger mb-2"
            hx-target="body"
            hx-push-url="true"
            hx-confirm="Are you sure you want to delete this contact?"
            data-th-attr="hx-delete=${'/contacts2/' + model.contact.id}">Delete Contact
    </button>

    <p>
        <a class="btn btn-light" href="/contacts2">Back</a>
    </p>
</div>
</body>
</html>
