<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout2.html :: layout(~{::title/content()}, ~{::extra}, ~{::content})}">
<script data-th-fragment="extra">
  function sweetConfirm(elt, config) {
    Swal.fire(config).then((result) => {
      if (result.isConfirmed) elt.dispatchEvent(new Event('confirmed'));
    });
  }
</script>
<body>
<h2 data-th-fragment="title">htmx powered Contact.app</h2>
<div data-th-fragment="content">
    <div class="alert alert-primary" role="alert" data-th-if="${model.flash}" data-th-text="${model.flash}"/>

    <div class="mb-2">
        <button id="sync-events-btn" class="btn btn-secondary" hx-post="/contacts2/sync-events" hx-target="next span">
            Sync contacts from integration with events
        </button>
        <button class="btn btn-light" disabled
                _="on click send htmx:abort to #sync-events-btn
                   on htmx:beforeRequest from #sync-events-btn remove @disabled from me
                   on htmx:afterRequest from #sync-events-btn add @disabled to me">
            Cancel sync
        </button>
        <span></span>
    </div>
    <div class="mb-2">
        <button id="sync-oob-btn" class="btn btn-secondary" hx-post="/contacts2/sync-oob" hx-target="next span"
                hx-swap="outerHTML">
            Sync contacts from integration with out-of-band swap
        </button>
        <button class="btn btn-light" disabled
                _="on click send htmx:abort to #sync-oob-btn
                   on htmx:beforeRequest from #sync-oob-btn remove @disabled from me
                   on htmx:afterRequest from #sync-oob-btn add @disabled to me">
            Cancel sync
        </button>
        <span></span>
    </div>

    <div data-th-fragment="archive-ui" data-th-switch="${model.archiveStatus.name()}" id="archive-ui" hx-target="this" hx-swap="outerHTML">
        <button class="btn btn-primary" data-th-case="WAITING" hx-post="/contacts2/archive">
            Download Contact Archive
        </button>
        <div data-th-case="RUNNING" hx-get="/contacts2/archive" hx-trigger="load delay:500ms">
            <progress class="progress"
                      max="100"
                      data-th-value="${model.archiveProgress * 100}"
                      data-th-text="'width:' + ${model.archiveProgress * 100} + '%'"></progress>
        </div>
        <div data-th-case="COMPLETE">
            <a href="/contacts2/archive/file" _="on load click() me">Archive Downloading! Click
                here if the download does not start.</a>
            <button class="btn btn-light" hx-delete="/contacts2/archive">Clear Download</button>
        </div>
    </div>

    <form action="/contacts2" method="get">
        <label for="search">Search Contacts </label>
        <input id="search" type="search" name="q"
               data-th-value="${model.q}?: ''"
               hx-get="/contacts2"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="next .htmx-indicator"
               _="on keydown[altKey and code is 'KeyS'] from the window
                  focus() me"
        />
        <img class="htmx-indicator"
             width="58" height="58"
             src="/img/spinning-circles.svg"
             alt="Request In Flight..."/>
        <input class="btn btn-primary" type="submit" value="Search"/>
    </form>

    <form id="contacts-form" class="mb-2">
        <div id="bulk-actions" style="display: none">
            <slot></slot>
            contacts selected
            <button class="btn btn-danger"
                    hx-delete="/contacts2"
                    hx-target="body"
                    hx-trigger="confirmed"
                    _="on click(target)
                       halt the event
                       set count to innerHTML of previous &lt;slot/&gt;
                       call sweetConfirm(target, {
                           title: `Delete ${count} contacts?`,
                           showCancelButton: true,
                           confirmButtonText: 'Delete'
                       })"
            >Delete selected contacts
            </button>
            <button class="btn btn-light"
                    _="on click
                   halt the event
                   get the &lt;input[type=checkbox]/&gt; in the &lt;tbody/&gt; in the closest &lt;form/&gt;
                   set its checked to false
                   hide #bulk-actions">Cancel
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="contacts-tbody"
                   hx-get="/contacts2"
                   hx-trigger="contacts-updated from:body"
                   data-th-insert="~{Contacts2Rows}"></tbody>
        </table>
    </form>
    <p><a class="btn btn-light" href="/contacts2/new">Add Contact</a> (<span hx-get="/contacts2/count"
                                                                             hx-trigger="revealed">
        <img class="htmx-indicator"
             width="58" height="58"
             alt="Request In Flight..."
             src="/img/spinning-circles.svg"/>
    </span> total Contacts)</p>
</div>
</body>
</html>
