<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts1View"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout1.html :: layout(~{::title/content()}, ~{::extra}, ~{::content})}">
<link data-th-fragment="extra" rel="stylesheet" href="/contacts2.css">
<body>
<h2 data-th-fragment="title">Web 1.0 Contact.app</h2>
<div data-th-fragment="content">
    <h3 data-th-text="${model.contact.firstName + ' ' + model.contact.lastName}"/>

    <div>
        <div data-th-text="${'Phone: ' + model.contact.phone}"/>
        <div data-th-text="${'Email: ' + model.contact.email}"/>
    </div>

    <p>
        <a data-th-href="${'/contacts1/' + model.contact.id + '/edit'}">Edit</a>
        <a href="/contacts1">Back</a>
    </p>
</div>
</body>
</html>
