<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2ArchiveUI"*/-->
<div data-th-switch="${model.archiveStatus.name()}" id="archive-ui" hx-target="this" hx-swap="outerHTML">
    <button data-th-case="WAITING" hx-post="/contacts2/archive">
        Download Contact Archive
    </button>
    <div data-th-case="RUNNING" hx-get="/contacts2/archive" hx-trigger="load delay:500ms">
        <progress class="progress"
                  max="100"
                  data-th-value="${model.archiveProgress * 100}"
                  data-th-text="'width:' + ${model.archiveProgress * 100} + '%'"></progress>
    </div>
    <div data-th-case="COMPLETE">
        <a href="/contacts2/archive/file" _="on load click() me">Archive Downloading! Click
            here if the download does not start.</a>
        <button hx-delete="/contacts2/archive">Clear Download</button>
    </div>
</div>
