<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout.html :: layout(~{::title/content()}, ~{}, ~{::content})}">
<body>
<h2 data-th-fragment="title">htmx powered Contact.app</h2>
<div data-th-fragment="content" data-hx-boost="true">
    <div class="flash" data-th-if="${model.flash}" data-th-text="${model.flash}"/>

    <form action="/contacts2" method="get" class="tool-bar">
        <label for="search">Search Contacts </label>
        <input id="search" type="search" name="q" data-th-value="${model.q}?: ''"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="contact : ${model.contacts}">
            <td data-th-text="${contact.firstName}">Joe Smith</td>
            <td data-th-text="${contact.lastName}">Joe Smith</td>
            <td data-th-text="${contact.phone}">070-12345678</td>
            <td data-th-text="${contact.email}">joe@smith.org</td>
            <td><a data-th-href="${'/contacts2/' + contact.id + '/edit'}">Edit</a> <a data-th-href="${'/contacts2/' + contact.id}">View</a></td>
        </tr>
        <tr data-th-if="${model.contacts.size() eq model.pageSize}">
            <td colspan="5">
                <button data-hx-target="closest tr"
                data-hx-swap="outerHTML"
                data-hx-select="tbody > tr"
                data-th-attr="data-hx-get='/contacts2?page=' + ${model.page + 1}">Load more</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a href="/contacts2/new">Add Contact</a></p>
</div>
</body>
</html>
