<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2Edit"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout.html :: layout(~{::title/content()}, ~{}, ~{::content})}">
<body>
<h2 data-th-fragment="title">htmx powered Contact.app</h2>
<div data-th-fragment="content">
    <form data-th-action="${'/contacts2/' + model.contact.id + '/edit'}" method="post">
        <fieldset>
            <legend>Contact Values</legend>
            <div class="table rows">
                <p>
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email"
                           data-th-attr="data-hx-get=${'/contacts2/' + model.contact.id + '/email'}"
                           data-hx-target="next .error"
                           data-hx-trigger="change, keyup delay:200ms changed"
                           placeholder="Email"
                           data-th-value="${model.contact.email}">
                    <span class="error" data-th-text="${model.errors.email}"/>
                </p>
                <p>
                    <label for="firstName">First Name</label>
                    <input name="firstName" id="firstName" type="text" placeholder="First Name"
                           data-th-value="${model.contact.firstName}">
                    <span class="error" data-th-text="${model.errors.firstName}"/>
                </p>
                <p>
                    <label for="lastName">Last Name</label>
                    <input name="lastName" id="lastName" type="text" placeholder="Last Name"
                           data-th-value="${model.contact.lastName}">
                    <span class="error" data-th-text="${model.errors.lastName}"/>
                </p>
                <p>
                    <label for="phone">Phone</label>
                    <input name="phone" id="phone" type="text" placeholder="Phone"
                           data-th-value="${model.contact.phone}">
                    <span class="error" data-th-text="${model.errors.phone}"/>
                </p>
            </div>
            <button>Save</button>
        </fieldset>
    </form>

    <button data-hx-target="body"
            data-hx-push-url="true"
            data-hx-confirm="Are you sure you want to delete this contact?"
            data-th-attr="data-hx-delete=${'/contacts2/' + model.contact.id}">Delete Contact</button>

    <p>
        <a href="/contacts2">Back</a>
    </p>
</div>
</body>
</html>
