<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.Contacts2Rows"*/-->
<tr data-th-each="contact : ${model.contacts}">
    <td><input type="checkbox" name="selected_contact_ids" data-th-value="${contact.id}"></td>
    <td data-th-text="${contact.firstName}">Joe Smith</td>
    <td data-th-text="${contact.lastName}">Joe Smith</td>
    <td data-th-text="${contact.phone}">070-12345678</td>
    <td data-th-text="${contact.email}">joe@smith.org</td>
    <td><a class="btn btn-sm btn-primary" data-th-href="${'/contacts2/' + contact.id + '/edit'}">Edit</a> <a class="btn btn-sm btn-light"
            data-th-href="${'/contacts2/' + contact.id}">View</a> <a class="btn btn-sm btn-danger"
            href="#"
            data-th-attr="hx-delete=${'/contacts2/' + contact.id}"
            hx-confirm="Are you sure you want to delete this contact?"
            hx-swap="outerHTML swap:1s"
            hx-target="closest tr"
    >Delete</a>
    </td>
</tr>
<tr data-th-if="${model.contacts.size() eq model.pageSize}">
    <td colspan="6">
        <button id="next-page"
                class="btn btn-light"
                hx-target="closest tr"
                hx-swap="outerHTML"
                data-th-attr="hx-get='/contacts2?' + ${(model.q != null)? ('q='+model.q+'&') : ''} + 'page=' + ${model.page + 1}"
        >Load more
        </button>
    </td>
</tr>
<!--/* infinite scroll
<tr data-th-if="${model.contacts.size() eq model.pageSize}">
    <td colspan="6">
        <span id="next-page"
              hx-target="closest tr"
              hx-trigger="revealed"
              hx-swap="outerHTML"
              data-th-attr="hx-get='/contacts2?page=' + ${model.page + 1}">Loading more...</span>
    </td>
</tr>
*/-->
