<!--/*@thymesVar id="model" type="nu.staldal.htmxhttp4kthymeleaf.ValueSelect"*/-->
<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout.html :: layout(~{::title/content()}, ~{}, ~{::content})}">
<body>
<h2 data-th-fragment="title">Value select</h2>
<div data-th-fragment="content">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Make</label>
        <div class="col-sm-2">
            <select class="form-select" name="make" hx-get="/models" hx-target="#models">
                <option value="" selected></option>
                <option data-th-each="make : ${model.makes}" data-th-value="${make.id}" data-th-text="${make.name}">Make
                </option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label" for="models">Model</label>
        <div class="col-sm-2">
            <select id="models" name="model" class="form-select">
            </select>
        </div>
    </div>
</div>
</body>
</html>
